# Python cache
__pycache__/
*.pyc

# Packaging artifacts
build/
dist/
*.egg-info/
*.egg
*.whl
output/

# Pipx build leftovers
pip-wheel-metadata/

# Virtual environments
.venv/
venv/

# VSCode
.vscode/

# MacOS
.DS_Store

output